<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Prototype</title>
  <link rel="stylesheet" href="./styles/css/bootstrap.min.css">
  <script src="./script/angular.min.js"></script>
  <script src="./script/app.js"></script>
  <script src="./script/clientsCtrl.js"></script>
  <script src="./script/clients.js"></script>
  <script src="./script/integer.js"></script>
  <script src="./script/percentage.js"></script>
  <script src="./script/clientRow.js"></script>
</head>
<body>
  <div class="container" ng-app="clientsApp" ng-controller='ClientsCtrl'>
  <script id="client.html" type="text/ng-template">
    <td ng-if-start='!isEditing'>{{ client.id }}</td>
    <td>{{ client.name }}</td>
    <td>{{ client.age }}</td>
    <td>{{ client.percentage | percentage }}</td>
    <td ng-if-end>
      <a class="btn btn-primary" href="" ng-click='editClient()'>
        Edit
      </a>
      <a class="btn btn-danger" href="" ng-click='deleteClient()'>
        Delete
      </a>
    </td>
    <td ng-if-start='isEditing'>{{ client.id }}</td>
    <td><input class="form-control" ng-model='client.name' type="text"></td>
    <td><input class="form-control" ng-model='client.age' type="text"></td>
    <td><input class="form-control" ng-model='client.percentage' type="text"></td>
    <td ng-if-end>
      <a class="btn btn-primary" href="" ng-click='updateClient()'>
        Update
      </a>
      <a class="btn btn-danger" href="" ng-click='cancelEdit()'>
        Cancel
      </a>
    </td>
  </script>
    <div class="page-header">
      <h1>Clients</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Percentage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody ng-repeat="client in clients">
        <tr client-row>
        </tr>
      </tbody>
    </table>
    <form name='clientForm' novalidate role"form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" ng-model='newClient.name' name='name' type="text" required>
        <span class='help-block' ng-show='clientForm.name.$error.required'>Name is required</span>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" ng-model='newClient.age' name='age' type="number" required max='100' min='1' integer>
        <span class="help-block" ng-show='clientForm.age.$error.required'>Age is required</span>
        <span class="help-block" ng-show='clientForm.age.$error.integer'>Age should be an integer</span>
        <span class="help-block" ng-show='clientForm.age.$error.min'>Age should be greater that 1</span>
        <span class="help-block" ng-show='clientForm.age.$error.max'>Age should be lesser that 100</span>
      </div>
      <div class="form-group">
        <label for="percentage">Percentage</label>
        <input class="form-control" ng-model='newClient.percentage' name='percentage' type="number" required max='1' min='0'>
        <span class="help-block" ng-show='clientForm.percentage.$error.required'>Percentage is required</span>
        <span class="help-block" ng-show='clientForm.percentage.$error.min'>Percentage should be greater that 0</span>
        <span class="help-block" ng-show='clientForm.percentage.$error.max'>Percentage should be lesser that 0</span>
      </div>
      <button class='btn btn-primary' ng-click='create()' ng-disabled='clientForm.$invalid'>
        Save
      </button>
    </form>
  </div>
</body>
</html>
