<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Prototype</title>
  <link rel="stylesheet" href="./styles/css/bootstrap.min.css">
  <script src="./script/angular.min.js"></script>
  <script src="./script/app.js"></script>
  <script src="./script/clientsCtrl.js"></script>
</head>
<body>
 <div class="container" ng-app="clientsApp" ng-controller='clientsCtrl'>
  <div class="page-header">
    <h1>Clients</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Percentage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.age }}</td>
        <td>{{ percentageOf(client.percentage) | number:0 }} %</td>
        <td>
          <a class="btn btn-danger" href="" ng-click='delete(client)'>
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</body>
</html>
